$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
/* Brand colors */
$purple: #aa1f77;
$white: #fff;
/*Site layout*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #000;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Brand colors */
.purpleBackground{
  background-color: $purple;
  color: $white;
}
.purple{
  color: $purple; 
}

/* Utils */
.noBorder{
  border: none;
}

.colorWhite{
  color: $white!important;
}

/* Search page */

.searchContainer{
  min-height: 600px;
}

.focusLayout{
  z-index: -1;
  height: auto;
  display: block;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}

#results{
  padding-bottom: 0px;
  z-index: 2;
  background-color: $white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ddd;
  border-top: 0px;
  border-left
  .name{
    margin-bottom: 0px;
  }
  .url{
    font-size: 12px;
    color: $purple;
    border-bottom: 1px solid #ddd;
  }
  #result{
    margin-top: -10px;
    padding:10px;
    padding-bottom: 0px;
  }
  #result:hover{
    cursor: pointer;
    background-color: #f7f7f7;
  }
  #result:first-child p:first-child{
    padding-top: 10px;
    margin-top: 0px;
  }
  #result:last-child p:last-child{
    border-bottom: none;
    margin-bottom: 4px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}