<div class="container-fluid searchContainer">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="finantialInstitutionSearch">Search financial institutions</label>
        <div class="input-group">
          <input id="finantialInstitutionSearch" name="finantialInstitutionSearch" type="search" class="form-control" aria-label="search input" ng-model="searchString" ng-change="search()"></input>
          <span class="input-group-addon purpleBackground noBorder"> 
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
        <div id="results">
          <div id="result" ng-repeat="result in results">
            <p class="name">
              {{result.name}}
            </p>
            <p class="url">
              <a class="purple" href="{{result.url}}">{{result.url}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="showFocusLayout" class="focusLayout" style="height: {{focusLayoutHeight}}; top: {{focusLayoutOffset}}"></div>